:root {
  --primary-color: #97bf0f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.auth_form {
  max-width: 580px;
  margin: 0 auto;
}

.max_width {
  min-width: 100%;
}

.logo {
  max-width: 200px;
}

.primary_bg {
  background-color: var(--primary-color);
}

.back_bg {
  background-color: rgb(252, 247, 241);
}

.grey_bg {
  background-color: #f8f9fa;
}

.lg_button {
  width: 94%;
  margin: 0 3%;
}

.top_width {
  max-width: 480px;
}

.image {
  width: 53%;
  height: auto;
  margin: 0 8.5% 10% 8.5%;
}

.max_height {
  height: 40vw;
}

.details_container {
  margin: 5% 0 0 0;
}

.table_width {
  width: 27.5%;
  margin-right: 2.3%;
}

.no_hover:hover {
  background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .table_width {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .image {
    width: 100%;
    margin: 0;
  }

  .max_height {
    height: 90vw;
  }

  .details_container {
    padding: 0 5%;
    margin: 15% 0 15% 0;
  }

  #reserve_btn {
    font-size: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 2%;
  }
}
